<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947538191533-cmtdpnjlpumdr4b9l9ngu7l9bg1hupak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947538191533-cmtdpnjlpumdr4b9l9ngu7l9bg1hupak</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ilCwGjkRE6PCxEhNbRwr7lYMI0b51F0</string>
	<key>GCM_SENDER_ID</key>
	<string>947538191533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.maxoverlack.streamflix</string>
	<key>PROJECT_ID</key>
	<string>flutterpmgalaxia</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpmgalaxia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947538191533:ios:5cee8fef3a2ec2d145d224</string>
</dict>
</plist>